.square {
    text-align: left;
    display: flex; 
    justify-content: left; 
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 17px; 
    width: 367px;
    height: 35px; 
    margin-bottom: 20px;
    transform: translateY(7px);
}

.top-right-button {
    position: fixed; 
    top: 30px; 
    right: 50px; 
    z-index: 1000; 
  }

  
  .fixed-size-card {
    width: 1617px;
    height: 745px;
    overflow:hidden; 
    background-color: #FFFFFF;
    position: relative; 
    top: 40px;
    right: 83px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
  }

  .white-square {
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 10px; /* Optional: adds rounded corners */
    margin-left: 150px;
  }
  
  
  .card-body {
    overflow-y: auto; 
  }


.table-row:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }


.add-button {
  background-color: transparent; 
  border-color: #338EF7 !important; 
  color: #ffffff !important; 
}

.add-button:hover {
  background-color: #338EF7; 
  border-color: #338EF7 !important; 
  color: #ffffff !important; 
}


.no-border-card {
  border: none !important;
  box-shadow: none !important; 
}


.custom-segmented .ant-segmented-item-selected {
  border-radius: 5px !important; 
  background-color: #2898fb !important;
  
}

.custom-float-button {
  background-color: #2898fb !important;
  color: white !important;
  border: none !important;
}

.custom-modal .ant-modal-content {
  border-radius: 15px !important;
}

.ant-table-filter-icon:hover {
  background: none !important;
}

.no-hover-effect .anticon:hover {
  background: transparent !important; /* Removes any background change on hover */
}