@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Nunito Sans", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

.ant-tooltip-arrow {
  display: none !important;
}